<!-- <section id="container">
    <header class="header fixed-top clearfix">
        <div class="brand">
            <a href="/home" class="logo">
                Thinhlv
            </a>
        </div>
        <div class="top-nav clearfix">
            <ul class="nav pull-right top-menu">
                <li>
                    <input type="text" class="form-control search" placeholder=" Search">
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="/resources/images/1.jpg">
                        <span class="username">ThinhLVph08595</span>
                        <b class="caret"></b>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <aside>
        <div id="sidebar" class="nav-collapse">
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="/login">
                            <i class="fa fa-dashboard"></i>
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-book"></i>
                            <span>Quản lý</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/products">Quản lý sản phẩm</a></li>
                            <li><a href="/staffs">Quản lý nhân viên</a></li>
                            <li><a href="/customers">Quản lý khách hàng</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/bills">
                            <i class="fa fa-bullhorn"></i>
                            <span>Bán Hàng </span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <i class="fa fa-user"></i>
                            <span>Login Page</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <section id="main-content">
        <section class="wrapper">
            <div class="market-updates">
                <div class="col-md-3 market-update-gd">
                    <div class="market-update-block clr-block-2">
                        <div class="col-md-4 market-update-right">
                            <i class="fa fa-eye"> </i>
                        </div>
                        <div class="col-md-8 market-update-left">
                            <h3>Quản lý</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-3 market-update-gd">
                    <div class="market-update-block clr-block-1">
                        <div class="col-md-4 market-update-right">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="col-md-8 market-update-left">
                            <h3>Login</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-3 market-update-gd">
                    <div class="market-update-block clr-block-3">
                        <div class="col-md-4 market-update-right">
                            <i class="fa fa-usd"></i>
                        </div>
                        <div class="col-md-8 market-update-left">
                            <h3>Order</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-3 market-update-gd">
                    <div class="market-update-block clr-block-4">
                        <div class="col-md-4 market-update-right">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-8 market-update-left">
                            <h3>Mail</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <img src="/resources/images/salebh.jpg" width="1300px">
            </div>
        </section>
        <div class="footer">
            <div class="wthree-copyright">
                <p>© 2020 Thinhlvph08595_Tienddph08728_lập trình java 5</a></p>
            </div>
        </div>
    </section>
</section> -->