<div class="header-outs" id="home">
	<div class="header-w3layouts">
		<!--//navigation section -->
		<!-- nav -->
		<nav>
			<div id="logo">
				<h1><a href="index.html">Pets-Shop</a></h1>
			</div>
			<label for="drop" class="toggle">Menu</label>
			<input type="checkbox" id="drop">
			<ul class="menu mt-2">
				<li class="active"><a href="index.html">Home</a></li>
				<li class="mx-lg-3 mx-md-2 my-md-0 my-1"><a href="about.html">About</a></li>
				<li><a href="service.html">Services</a></li>
				<!-- <li class="mx-lg-3 mx-md-2 my-md-0 my-1"> -->
				<!-- First Tier Drop Down -->
				<!-- <label for="drop-2" class="toggle toogle-2">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
              </label>
              <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
              <input type="checkbox" id="drop-2">
              <ul>
                <li><a href="gallery.html" class="drop-text">Gallery</a></li>
                <li><a href="booking.html" class="drop-text">Booking</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact Us</a></li> -->
			</ul>
		</nav>
		<!-- //nav -->
	</div>
	<div class="slider">
		<div class="slider-img">
			<div class="container">
				<div class="slider-info ">
					<h5>Best place for your pet</h5>
				</div>
			</div>
		</div>
		<!-- This is here just to demonstrate the callbacks -->
		<!-- <ul class="events">
          <li>Example 4 callback events</li>
          </ul>-->




		<!--//Our team-->
		<!--Opening Times-->

      <section class="book-table-w3pvt py-lg-4 py-md-3 py-sm-3 py-3">
			<div class="container py-lg-5 py-md-5 py-sm-4 py-4">
				<h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">🕐 Opening Hours</h3>
				<div class="booking-list text-center">
					<div class="wls-hours-list ">
						<ul>
							<li>
								<h5> Monday-Friday</h5>
							</li>
							<li>
								<p>9 Am- 10 Pm</p>
							</li>
						</ul>
					</div>
					<div class="wls-hours-list mt-2">
						<ul>
							<li>
								<h5> Saturday-Sunday</h5>
							</li>
							<li>
								<p>11 Am- 10 Pm</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!--Opening Times-->
		<!--Footer -->
		<section class="buttom-footer py-lg-4 py-md-3 py-sm-3 py-3">
			<div class="container py-lg-5 py-md-5 py-sm-4 py-4">
				<div class="state-us mb-lg-4 mb-md-3 mb-3 text-center">
					<h2>Subscribe To Our Newsletter</h2>
				</div>
				<div class="sub-para text-center">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing
						elit, sed do eiusmod tempor
						incididunt ut Lorem ipsum dolor sit amet
					</p>
				</div>
				<form action="#" method="post">
					<div class="subscribe-form text-center">
						<div class="form-group fill-all-form">
							<input type="email" class="form-control" placeholder="Email" required="">
							<button type="submit" class="click-me">Subscribe</button>
						</div>
					</div>
				</form>
				<div class="pt-lg-5 pt-md-4 pt-sm-3 pt-3">
					<div class="row footer-w3pvt-grids ">
						<div class="col-lg-6 col-md-6 wthree-left-right">
							<h4>About Us</h4>
							<div class="bottom-para">
								<p>Ut aut reiciendis voluptatibus adipiscing Ut aut reiciendis eiusmod tempor incididunt
									ut Lorem ipsum dolor sit amet voluptatibus adipiscing</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 wthree-left-right">
							<h4>Email Us</h4>
							<div class="bottom-para ">
								<p><a>Lapnqph08660@fpt.edu.vn</a>
									<br><a>Ngoquanglap0612@gmail.com</a>
								</p>
							</div>
						</div>
						<div class="wthree-left-right col-lg-3 col-md-3">
							<h4 class="pb-lg-3 pb-3">Contact Us</h4>
							<div class="bottom-para ">
								<p>📱 038 541 8639</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
 